name: Update DSA Stats

on:
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Configure Git
        run: |
          git config --global user.name "AnilVadhthyavath"
          git config --global user.email "vadthyavathanil.ai@gmail.com"

      - name: Run update_stats.py
        run: python update_stats.py

      - name: Commit and Push changes
        run: |
          git add .
          git commit -m "Auto update DSA stats"
          git push
